@charset "UTF-8";
.container {
	background-color: #FFFFFF;
	width: 1280px;
	margin-top: 25px;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	min-margin-left: 0px;
	min-margin-right: 0px;
	padding: 0px;
    font-family: 'Times New Roman', serif;
}

.primary_header {
	width: 100%;
	background-color: #52bad5;
	padding-top: 10px;
	padding-bottom: 10px;
	clear: left;	
}

.secondary_header {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #B3B3B3;
	clear: left;
}
.container .secondary_header ul {
	margin-top: 0%;
	margin-bottom: 0%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0px;
	padding-bottom: 15px;
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
}
.secondary_header ul li{
	list-style: none;
	float: left;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	font-weight: normal;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-align: center;
	width: 20%;
	transition: all 0.3s linear;
}
nav a {
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 15px;
}	  
nav a:hover {
	color: rgba(112,112,112,1.00);
}

section {
	border-top: 5px solid gray;
	border-left: 5px solid gray;
	border-right: 5px solid gray;
	border-bottom: 0px solid gray;
	padding: 30px;
	margin: 0px;
	width: auto;
}
.section1{
	height: 700px;
}
.section2{
	height: 610px;
}

section h2{
	margin-bottom: 60px;
	margin-left: 30px;
	text-transform: uppercase;
	height: auto;
	font-size: 200%;
}
section h3{
	text-transform: uppercase;
	height: auto;
	margin-left: 10px;
	font-size: 125%
	
}

.template{
	width: 50%;
	margin: 30px;
	padding:30px;
	border: 3px solid gray;
	border-radius: 10px;
	height: auto;
}

label{
	font-weight: bold;
}

textarea{
	margin-top: 5px;
	width: 560px;
	height: 200px;
}

.left_article {
	background-color: #FFFFFF;
	width: 50%;
	float: left;
	height: auto;
}

.inner_border{
	margin: 3%;
	padding-right: 40px;
	padding-bottom: 10px;
	border: 3px solid gray;
	border-radius: 10px;
	background-color: #DEF2F6;
}

.container .left_article h2 {
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 5%;
	margin-bottom: 7%;
	color: #3C3D3D;
	font-weight: bold;
	text-transform: uppercase;
	height: auto;
	font-size: 200%;
}
.container .left_article h3 {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
	color: #3C3D3D;
	font-weight: bold;
	text-transform: uppercase;
	height: auto;
}

.study{
	color: #000000;
	text-decoration: none;
	font-weight: bold;
	height: auto;
}
.study:hover{
	color: #8E8E8B;
	cursor: pointer;
}

.container .left_article ul {
	margin-left: 5%;
	margin-right: 5%;
	text-align: justify;
	line-height: 24px;
	color: #3C3D3D;
	height: auto;
}
.container .left_article ol {
	margin-left: 5%;
	margin-right: 5%;
	text-align: justify;
	line-height: 24px;
	color: #3C3D3D;
	height: auto;
}
.container .left_article li {
	margin-bottom: 4.5px;
	margin-top: 4.5px;
	height: auto;
	padding-left: 8px;
}

.right_article {
	width: 50%;
	float: left;
	background-color: #FFFFFF;
	padding-left: 0px;
	height: auto;
}

.placeholder {
	margin-top: 10%;
	width: 100%;
	height: 100%;
}

.footer {
	background-color: #717070;
}

.title {
	font-weight: bold;
	font-style: normal;
	font-family: "Source Sans Pro";
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 2px;
}

.copyright {
	text-align: center;
	background-color: #717070;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
	font-family: "Source Sans Pro";
}

@media (max-width: 320px) {
.secondary_header ul li {
	float: none;
	margin-top: 28px;
	margin-left: 0px;
	width: 100%;
}
.container .secondary_header ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	height: auto;
	width: 100%;
	text-align: center;
}
.secondary_header {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 1px;
	padding-bottom: 40px;
}

.placeholder {
	width: 100%;
	margin-top: 22PX;
	margin-right: 0px;
	margin-bottom: 22PX;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	max-width: 400px;
	max-height: 200px;
	height: auto;
}
.columns {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0PX;
	padding-right: 0PX;
	padding-bottom: 0PX;
	padding-left: 0PX;
}
.columns p {
	padding-left: 10px;
	padding-right: 10px;
}
.column_half.left_half {
	width: 100%;
}
.column_half.right_half {
	width: 100%;
}
.copyright {
	padding-top: 25px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.container .left_article h3 {
	margin-top: 30px;
}
.social .social_icon img {
	width: 80%;
}
.container .secondary_header {
}
}

@media (min-width: 321px) and (max-width: 768px) {
.secondary_header ul li {
	float: none;
	margin-top: 28px;
	margin-left: 0px;
	width: 100%;
}
.container .secondary_header ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	height: auto;
	width: 100%;
	text-align: center;
}
.secondary_header {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 1px;
	padding-bottom: 40px;
}
.left_article {
	width: 100%;
	height: 500px;
}
.right_article {
	width: 100%;
	height: auto;
	padding-bottom: 25px;
}
.placeholder {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	max-width: 100%;
	height: auto;
	max-height: 100%;
}
.columns {
	width: 100%;
	margin-top: 6px;
	margin-right: 0px;
	margin-bottom: 6px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.columns p {
	padding-left: 14px;
	padding-right: 14px;
}
.column_half.left_half {
	width: 100%;
}
.column_half.right_half {
	width: 100%;
}
}

@media (min-width: 769px) and (max-width: 1000px) {
.secondary_header {
	overflow: auto;
	padding-top: 30px;
	padding-bottom: 30px;
}
.secondary_header ul li {
	margin-top: 10px;
	margin-right: 7%;
	margin-bottom: 10px;
	margin-left: 7%;
}

}

@media (min-width: 1001px) {}

.columns {
	width: 50%;
	float: left;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.container .columns p {
	padding-left: 25px;
	padding-right: 25px;
}
.thumbnail {
	width: 100px;
	border-radius: 200px;
	height: 100px;
	margin-left: auto;
}
.thumbnail_align {
	text-align: center;
}
.social {
	text-align: center;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	background-color: #414141;
	clear: both;
	overflow: auto;
}
.social_icon {
	width: 25%;
	text-align: center;
	float: left;
	transition: all 0.3s linear;
	line-height: 0px;
	padding-top: 7px;
}
.container .social .social_icon:hover {
	cursor: pointer;
	opacity: 0.5;
}

.text {
		border-top: 5px solid grey;
		border-left: 5px solid grey;
		border-right: 5px solid grey;
		height:1200px;		
}

aside.ds {
	background-color:rgba(227,221,222,1.00);
		border: 3px black solid;
		border-color: rgba(86,86,86,1.00);	
}

.button {
	background-color:rgba(4,122,150,1.00); 
	border:none;color:white; padding:12px 32px; 
	font-size:16px;
	transition-duration: 0.3s;
	position:relative;
	left:30px;
	cursor:pointer;
	border-radius:5px;
}
.button:hover {
	background-color:rgba(123,216,250,1.00);		
}
.next {
	text-decoration: none;
	color:white;
	target:_blank;
}
form {
  max-width:600px;
  padding:10px;
}
textarea {
  border: 2px solid grey;
  border-radius: 10px;
  background-color:rgba(227,221,222,1.00);
  resize:none;
  width: 300px;
  padding:10px;
}
textarea:focus {
  background-color:rgba(247,242,242,1.00);
}

