@charset "UTF-8";
.container {
	background-color: #e8e8e8;
	width: 1280px;
	margin-top: 25px;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
    font-family: 'Times New Roman', serif;
	color: #3C3D3D;
}

.primary_header {
	width: 100%;
	background-color: #6677a8;
	padding-top: 10px;
	padding-bottom: 10px;
	clear: left;	
}

.secondary_header {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #464545;
	clear: left;
}
.container .secondary_header ul {
	margin-top: 0%;
	margin-bottom: 0%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0px;
	padding-bottom: 15px;
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
}

.secondary_header ul li{
	list-style: none;
	float: left;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0px;
	padding-bottom: 0px;
	font-weight: normal;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-align: center;
	width: 20%;
	transition: all 0.3s linear;
}

nav a {
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 15px;
}	  
nav a:hover {
	color: #b4b4b4;
}

section {
	padding: 30px;
	margin-left: 100px;
	margin-right: 100px;
	width: auto;
	height: 1300px;
}

section h2 {
	margin-top: 3%;
	margin-bottom: 5%;
	text-align: center;
	text-transform: uppercase;
	height: auto;
	font-size: 200%;
}

section h3{
	margin-top: 0%;
	margin-bottom: 0%;
	text-align: center;
	text-transform: uppercase;
	height: auto;
	font-size: 150%;	
}
section h4{
	margin-top: 0%;
	margin-bottom: 0%;
	text-align: center;
	text-transform: none;
	height: auto;
	font-size: 130%;	
}

.post {
	float: left;
	width: 50%;
	margin-left: -3%;
	
}

.yr {
	box-sizing:content-box;
	border: 5px ridge #cfcfcc;
	border-radius: 10px;
	background-color: #f2f2f2;
	font-size: 115%;
	word-spacing: 0px;
	padding: 50px;
	width: 400px;
	/* height: 550px; */
}

.suggestion {
	float: right;
	width: 50%;
	text-align: left;
	margin-right: -3%;
}

.suggest-text {
	box-sizing:content-box;
	border: 5px ridge #cfcfcc;
	border-radius: 10px;
	background-color: #f2f2f2;
	font-size: 115%;
	word-spacing: 0px;
	padding: 50px;
	width: 400px;
	/* height: 550px; */
}

button {
	background-color: #464545;
	color: white;
	border: 0px;
	border-radius:5px;
	margin-top: 60px;
	padding: 20px;
	font-size: 16px;
	transition-duration: 0.3s;
	cursor:pointer;
}

.button{
	text-decoration: none;
	color: white;
}

.button:hover {
	background-color: #7e7e7e		
}

.template{
	width: 50%;
	margin-left: 1.0%;
	margin-bottom: 7%;
	padding: 40px;
	border: 5px ridge #cfcfcc;
	border-radius: 10px;
	background-color: #f2f2f2;
	height: auto;
	float: left;
}

form {
  max-width:600px;
  padding:10px;
  font-size: 115%;
  word-spacing: 0px;
}

label{
	font-weight: bold;
}

textarea {
	font-size: 115%;
	font-family: 'Times New Roman', serif;
    word-spacing: 0px;
	border: 3px ridge #c5c5c5;
	border-radius: 10px;
	width: 300px;
	background-color: white;
	margin-top: 5px;
	padding: 15px;
}

textarea:hover{
	border: 3px ridge #747474;
	border-radius: 10px;
}
textarea:focus{
	outline: none;
	border: 3px ridge #747474;
	border-radius: 10px;
}

.bigBox{
	width: 94%;
	height: 200px;
}

button {
	background-color: #464545;
	color: white;
	border: 0px;
	border-radius:5px;
	margin-top: 60px;
	margin-right: 20px;
	padding: 20px;
	font-size: 16px;
	transition-duration: 0.3s;
	cursor:pointer;
}

.buttonLink{
	text-decoration: none;
	color: white;
}

button:hover {
	background-color: #7e7e7e		
}

.document{
	width: 27%;
	margin-right: 1.0%;
	padding: 40px;
	border: 5px ridge #cfcfcc;
	border-radius: 10px;
	background-color: #f2f2f2;
	height: auto;
	float: right;
}

.input-file-button{
	border: 3px ridge #c5c5c5;
	border-radius: 10px;
	padding: 10px;
}

.submit-buttom{
	border: 3px ridge #c5c5c5;
	border-radius: 10px;
	padding: 10px;
}











	
.left_article {
	background-color: #FFFFFF;
	width: 50%;
	float: left;
	height: auto;
}

.inner_border{
	margin: 3%;
	padding-right: 40px;
	padding-bottom: 10px;
	border: 3px solid gray;
	border-radius: 10px;
	background-color: #DEF2F6;
}

.container .left_article h2 {
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 5%;
	margin-bottom: 7%;
	color: #3C3D3D;
	font-weight: bold;
	text-transform: uppercase;
	height: auto;
	font-size: 200%;
}
.container .left_article h3 {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
	color: #3C3D3D;
	font-weight: bold;
	text-transform: uppercase;
	height: auto;
}

.study{
	color: #000000;
	text-decoration: none;
	font-weight: bold;
	height: auto;
}
.study:hover{
	color: #8E8E8B;
	cursor: pointer;
}

.container .left_article ul {
	margin-left: 5%;
	margin-right: 5%;
	text-align: justify;
	line-height: 24px;
	color: #3C3D3D;
	height: auto;
}
.container .left_article ol {
	margin-left: 5%;
	margin-right: 5%;
	text-align: justify;
	line-height: 24px;
	color: #3C3D3D;
	height: auto;
}
.container .left_article li {
	margin-bottom: 4.5px;
	margin-top: 4.5px;
	height: auto;
	padding-left: 8px;
}

.right_article {
	width: 50%;
	float: left;
	background-color: #FFFFFF;
	padding-left: 0px;
	height: auto;
}

.placeholder {
	margin-top: 10%;
	width: 100%;
	height: 100%;
}

.footer {
	background-color: #717070;
}

.title {
	font-weight: bold;
	font-style: normal;
	font-family: "Source Sans Pro";
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 2px;
}

.copyright {
	text-align: center;
	background-color: #717070;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
	font-family: "Source Sans Pro";
}

@media (max-width: 320px) {
.secondary_header ul li {
	float: none;
	margin-top: 28px;
	margin-left: 0px;
	width: 100%;
}
.container .secondary_header ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	height: auto;
	width: 100%;
	text-align: center;
}
.secondary_header {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 1px;
	padding-bottom: 40px;
}

.placeholder {
	width: 100%;
	margin-top: 22PX;
	margin-right: 0px;
	margin-bottom: 22PX;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	max-width: 400px;
	max-height: 200px;
	height: auto;
}
.columns {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0PX;
	padding-right: 0PX;
	padding-bottom: 0PX;
	padding-left: 0PX;
}
.columns p {
	padding-left: 10px;
	padding-right: 10px;
}
.column_half.left_half {
	width: 100%;
}
.column_half.right_half {
	width: 100%;
}
.copyright {
	padding-top: 25px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.container .left_article h3 {
	margin-top: 30px;
}
.social .social_icon img {
	width: 80%;
}

@media (min-width: 321px) and (max-width: 768px) {
.secondary_header ul li {
	float: none;
	margin-top: 28px;
	margin-left: 0px;
	width: 100%;
}
.container .secondary_header ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	height: auto;
	width: 100%;
	text-align: center;
}
.secondary_header {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 1px;
	padding-bottom: 40px;
}
.left_article {
	width: 100%;
	height: 500px;
}
.right_article {
	width: 100%;
	height: auto;
	padding-bottom: 25px;
}
.placeholder {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	max-width: 100%;
	height: auto;
	max-height: 100%;
}
.columns {
	width: 100%;
	margin-top: 6px;
	margin-right: 0px;
	margin-bottom: 6px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.columns p {
	padding-left: 14px;
	padding-right: 14px;
}
.column_half.left_half {
	width: 100%;
}
.column_half.right_half {
	width: 100%;
}
}

@media (min-width: 769px) and (max-width: 1000px) {
.secondary_header {
	overflow: auto;
	padding-top: 30px;
	padding-bottom: 30px;
}
.secondary_header ul li {
	margin-top: 10px;
	margin-right: 7%;
	margin-bottom: 10px;
	margin-left: 7%;
}

}

@media (min-width: 1001px) {}

.columns {
	width: 50%;
	float: left;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.container .columns p {
	padding-left: 25px;
	padding-right: 25px;
}
.thumbnail {
	width: 100px;
	border-radius: 200px;
	height: 100px;
	margin-left: auto;
}
.thumbnail_align {
	text-align: center;
}
.social {
	text-align: center;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	background-color: #414141;
	clear: both;
	overflow: auto;
}
.social_icon {
	width: 25%;
	text-align: center;
	float: left;
	transition: all 0.3s linear;
	line-height: 0px;
	padding-top: 7px;
}
.container .social .social_icon:hover {
	cursor: pointer;
	opacity: 0.5;
}

}